version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  airflow-init:
    image: apache/airflow:2.9.3
    user: "50000:0"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__FERNET_KEY: ""
      _PIP_ADDITIONAL_REQUIREMENTS: apache-airflow-providers-google
    command: >
      bash -c "airflow db migrate &&
               airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"

  airflow-webserver:
    image: apache/airflow:2.9.3
    user: "50000:0"
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      _PIP_ADDITIONAL_REQUIREMENTS: apache-airflow-providers-google
      GOOGLE_CLOUD_PROJECT: oamk-476515
    volumes:
      - ./dags:/opt/airflow/dags
      - ../:/opt/airflow/repo
      - ~/.config/gcloud:/home/airflow/.config/gcloud:ro
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.9.3
    user: "50000:0"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      _PIP_ADDITIONAL_REQUIREMENTS: apache-airflow-providers-google
      GOOGLE_CLOUD_PROJECT: oamk-476515
    volumes:
      - ./dags:/opt/airflow/dags
      - ../:/opt/airflow/repo
      - ~/.config/gcloud:/home/airflow/.config/gcloud:ro
    command: scheduler

volumes:
  postgres-db-volume:
